.heading{
    font-weight: bolder;
    margin: auto;
    margin-top: 30px;
     width: 95vw;
     font-size: 2rem;
     text-align: center;
     padding: 10px;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
     border: solid 2px #e6e6e6;
     border-radius: 20px;
 }
 .subheading{
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
   font-weight: bold;
    width: 200px;
    margin: 10px;
   
   margin-left: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    border: solid 2px #e6e6e6;
    border-radius: 20px
}
.uploaddiv{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
     border: solid 2px #e6e6e6;
     border-radius: 20px;
     width: 50vw;
     height: 50vh;
     margin-top: 30px;
     margin-bottom: 20px;
     padding: 30px;
     display: flex;
     flex-direction: column;
        align-items: center;
        justify-content: center;
}